nav(class='navbar navbar-default')
    div(class='container-fluid')
        ul(class='nav navbar-nav')
            li 
                a(href="http://s4njee.com") 
                    span(class="glyphicon glyphicon-home" aria-hidden="true") 
                    span Home
            li 
                a(href='http://s4njee.com/albums/')  
                    span(class="glyphicon glyphicon-camera" aria-hidden="true") 
                    span Albums
            li 
                a(href='http://s4njee.com/photos/')  
                    span(class="glyphicon glyphicon-picture" aria-hidden="true") 
                    span Photo Stream
            li 
                a(href='https://github.com/s4njee') 
                    span(class="glyphicon glyphicon-floppy-saved" aria-hidden="true") 
                    span GitHub
            li 
                a(href='http://s4njee.com/otherprojects') 
                    span(class="glyphicon glyphicon-folder-open" aria-hidden="true") 
                    span Other Projects
            li 
                a(href='http//s4njee.com/About') 
                    span(class="glyphicon glyphicon-send" aria-hidden="true") 
                    span About 
